@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace MenuProject.Social

<root>
    <Button class="@ButtonClasses" onmousedown=@CreateParty Icon="celebration"></Button>
</root>

@code
{
    string ButtonClasses => $"create-party {(popup.IsValid() ? "active" : "")}";

    CreatePartyMenu popup;

    void CreateParty()
    {
        if (popup.IsValid())
            return;

        popup = new CreatePartyMenu();
        popup.SetPositioning( this, Popup.PositionMode.AboveLeft, 32 );
    }

    protected override int BuildHash() => HashCode.Combine(popup.IsValid());

}
